body {
    background: #607D8B;
}

#pet-cards {
    display: flex;
    flex-wrap: wrap;
}

#btn-container{
 margin-left: 25%;
}

.card {
    background-image: linear-gradient(#32a4a8, #a4e8eb );
    border: 4px solid black;
    border-radius: 10%;
    margin: 10px;
    padding: 10px;
    width: 300px;  
}

.cat-color {
    background: mediumblue;
}

.card img {
    background: steelblue;
    border: 4px solid black;
    border-radius: 50%;
    padding: 5px;
}