body {
    background-image: linear-gradient(#32a4a8, #a4e8eb );
    font-family: 'Quicksand', sans-serif;
    margin: auto;
}

.title {
    font-size: 8rem;
    margin: auto;
    text-align: center;
    border-bottom: 2rem solid #a4e8eb;
}

#pet-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#btn-container{
    background: cornsilk;
    border: 4px solid #a4e8eb;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px;;
    margin: 75px 0px 50px 25%;
    width: 25%;
}

.card {
    border: 4px solid black;
    border-radius: 10%;
    margin: 10px;
    padding: 10px;
    width: 300px;  
}

h3.cat-tag {
    box-sizing: content-box;
    border: 4px solid #a4e8eb;
    background: #4EB6EC;
    text-align: center;
}

.cat-tag{
    background: #4EB6EC;
    border: 4px solid #a4e8eb; 
    text-align: center;
}

h3.dog-tag {
    box-sizing: content-box;
    border: 4px solid #a4e8eb;
    background: #BE5546;
    text-align: center;
}

.dog-tag{
    background: #BE5546;
    border: 4px solid #a4e8eb; 
    text-align: center;
}

h3.dino-tag {
    box-sizing: content-box;
    border: 4px solid #a4e8eb;
    background: #56B44A;
    text-align: center;
}

.dino-tag{
    background: #56B44A;
    border: 4px solid #a4e8eb; 
    text-align: center;
}

.card img {
    background: steelblue;
    border: 4px solid black;
    border-radius: 50%;
    max-height: 200px;
    padding: 5px;
}